<form method="post" action="{{ path('admin_news_delete', {'id': news.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
    <button class="btn btn-danger rounded-pill px-4">Delete</button>
</form>
