{% extends 'base.html.twig' %}

{% block title %}Server Error{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>500 - Internal Server Error</h1>
        <p class="lead">
            Oops! Something went wrong on our end.<br>
            Please try refreshing the page or come back later.
        </p>
        <a href="{{ path('public_home') }}" class="btn btn-primary mt-3">Go to Home</a>
    </div>
{% endblock %}
